<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>app-1-680567986743-ios-555674656de8796d9bbdb2</string>
				<string>comgooglemaps</string>
			</array>
		</dict>
	</array>
	<key>FirebaseAppDelegateProxyEnabled</key>
	<true/>
	<key>FirebaseMessagingAutoInitEnabled</key>
	<true/>
	<key>GADApplicationIdentifier</key>
	<string>ca-app-pub-8818146645314379~8499245736</string>
	<key>GoogleUtilitiesAppDelegateProxyEnabled</key>
	<true/>
	<key>NSBonjourServices</key>
	<array>
		<string>_dartobservatory._tcp</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>remote-notification</string>
	</array>
	<key>UIUserNotificationSettings</key>
	<dict>
		<key>UIUserNotificationCategories</key>
		<array/>
		<key>UIUserNotificationType</key>
		<integer>7</integer>
	</dict>
	<key>UIUserNotificationType</key>
	<integer>7</integer>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>YourPurposeKey</key>
	<string>The example App requires temporary access to the device's precise location.</string>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
</dict>
</plist>
